.modalCarrito{
    width: 0dvw;
    height: calc(100dvh - 145px);
    position: absolute;
    top: 128%;
    right: -100%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -50;
    display: flex;
    flex-direction: column;
}

.modalCarrito-abierto{
    right: 0;
    width: 100dvw;
}

.modalCarrito-header{
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #252525;
}

.modalCarrito-header h2{
    margin: auto;
    padding: .5rem 0 .5rem .3rem;
}

.modalCarrito-header span{
    font-family: arial;
    padding: .5rem;
    cursor: pointer;
    margin-right: .3rem;
}

.modalCarrito-header span:hover{
    color: #ffffffd7;
    background-color: #000000c9;
    border-radius: 3px;
}

.modalCarrito-footer{
    text-align: center;
    padding: 1rem;
    color: #fff;
    background-color: #252525;
    margin-top: auto;
}

.modalCarrito-footer-total{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modalCarrito-footer-btn{
    margin-top: 1rem;
    padding: .5rem;
    border: 1px solid #00000078;
    font-size: .95rem;
    border-radius: 4px;
    font-family: serif;
    cursor: pointer;
}

.modalCarrito-footer-btn:hover{
    color: #fff;
    background-color: #000000c9;
}

@media screen and (min-width:1024px){
    .modalCarrito{
        top: 110%;
        height: calc(100dvh - 220px);
    }

    .cardCarrito{
        display: flex;
        align-items: center;
    }

    .modalCarrito-footer-total{
        justify-content: center;
    }

    .modalCarrito-footer-total-texto{
        margin-right: 1rem;
    }

    .modalCarrito-footer-total-valor{
        margin-left: 1rem;
    }
}