.header{
    padding: 1rem 0;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #ebebeb;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
}

.header-navegation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    position: relative;
}

.header-navegation a{
    text-decoration: none;
    color: #000;
    position: relative;
}

.header-navegation h1{
    font-size: 1.8rem;
}

.header-navegation-icon{
    font-size: 1.2rem;
}

.carrito-empty{
    width: 0px;
    height: 0px;
}

.carrito-active{
    width: 8px;
    height: 8px;
    background-color: #0072ff;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: -5px;
    box-shadow: 0 0 10px 4px #0072ff;
}

.menu-icon:hover, .search-icon:hover, .user-icon:hover, .cart-icon:hover{
    color: #00000075;
}

@media screen and (min-width:1024px){
    .header-navegation {
        display: grid;
        grid-template-columns: 1fr auto 1fr auto;
        align-items: center;
        position: relative;
        padding: 1rem 2rem 0 2rem;
    }

    .menu-icon{
        display: none;
    }

    .search-icon{
        display: none;
    }

    .header-logo{
        justify-self: center;
    }

    .header-navegation h1 {
        font-size: 2.8rem;
    }

    .header-navegation-icon.user-icon,
    .header-navegation-icon.cart-icon {
        justify-self: end;
        cursor: pointer;
    }

    .header-navegation-icon.user-icon{
        margin-right: 1.5rem;
    }
}